
.icon-notification:before { content: '\e800'; } /* '' */
.icon-scooter:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-contactless:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-statistics:before { content: '\e805'; } /* '' */
.icon-_-placeholder:before { content: '\e806'; } /* '' */
.icon-hsl-alt:before { content: '\e807'; } /* '' */
.icon-hsl:before { content: '\e808'; } /* '' */
.icon-hsl-card-lost:before { content: '\e809'; } /* '' */
.icon-bubble:before { content: '\e80a'; } /* '' */
.icon-email:before { content: '\e80b'; } /* '' */
.icon-idea:before { content: '\e80c'; } /* '' */
.icon-cash:before { content: '\e80d'; } /* '' */
.icon-ticket-machine:before { content: '\e80e'; } /* '' */
.icon-report:before { content: '\e80f'; } /* '' */
.icon-show-on-map:before { content: '\e810'; } /* '' */
.icon-customer-service:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e812'; } /* '' */
.icon-opposite:before { content: '\e813'; } /* '' */
.icon-students:before { content: '\e814'; } /* '' */
.icon-pensioners:before { content: '\e815'; } /* '' */
.icon-people-with-reduced-mobility:before { content: '\e816'; } /* '' */
.icon-children:before { content: '\e817'; } /* '' */
.icon-helsinki-card:before { content: '\e818'; } /* '' */
.icon-hsl-card-time:before { content: '\e819'; } /* '' */
.icon-sales-and-service-points:before { content: '\e81a'; } /* '' */
.icon-time:before { content: '\e81b'; } /* '' */
.icon-cross:before { content: '\e81c'; } /* '' */
.icon-stop:before { content: '\e81d'; } /* '' */
.icon-day-ticket:before { content: '\e81e'; } /* '' */
.icon-ticket:before { content: '\e81f'; } /* '' */
.icon-close-large:before { content: '\e820'; } /* '' */
.icon-close-small:before { content: '\e821'; } /* '' */
.icon-web:before { content: '\e822'; } /* '' */
.icon-app:before { content: '\e823'; } /* '' */
.icon-route:before { content: '\e824'; } /* '' */
.icon-location:before { content: '\e825'; } /* '' */
.icon-person:before { content: '\e826'; } /* '' */
.icon-park-and-ride:before { content: '\e827'; } /* '' */
.icon-hsl-card-reader-w-card:before { content: '\e828'; } /* '' */
.icon-calendar:before { content: '\e829'; } /* '' */
.icon-city:before { content: '\e82a'; } /* '' */
.icon-check:before { content: '\e82b'; } /* '' */
.icon-check-circle:before { content: '\e82c'; } /* '' */
.icon-info:before { content: '\e82d'; } /* '' */
.icon-temporary-alt:before { content: '\e82e'; } /* '' */
.icon-hsl-card-angle-1:before { content: '\e82f'; } /* '' */
.icon-hsl-card-angle:before { content: '\e830'; } /* '' */
.icon-arrow-2:before { content: '\e831'; } /* '' */
.icon-arrow:before { content: '\e832'; } /* '' */
.icon-book:before { content: '\e833'; } /* '' */
.icon-alert:before { content: '\e834'; } /* '' */
.icon-search:before { content: '\e835'; } /* '' */
.icon-work:before { content: '\e836'; } /* '' */
.icon-bus:before { content: '\e837'; } /* '' */
.icon-draft:before { content: '\e838'; } /* '' */
.icon-ferry:before { content: '\e839'; } /* '' */
.icon-train:before { content: '\e83b'; } /* '' */
.icon-bus-alt:before { content: '\e83c'; } /* '' */
.icon-tram:before { content: '\e83d'; } /* '' */
.icon-pen:before { content: '\e83e'; } /* '' */
.icon-metro:before { content: '\e83f'; } /* '' */
.icon-via:before { content: '\e841'; } /* '' */
.icon-open-in-new:before { content: '\e843'; } /* '' */
.icon-map-1:before { content: '\e844'; } /* '' */
.icon-passenger-info:before { content: '\e846'; } /* '' */
.icon-restore:before { content: '\e847'; } /* '' */
.icon-trash:before { content: '\e848'; } /* '' */
.icon-favicon:before { content: '\e849'; } /* '' */
.icon-temporary:before { content: '\e881'; } /* '' */
.icon-temporary-outline:before { content: '\e882'; } /* '' */
.icon-accessible:before { content: '\e88a'; } /* '' */
.icon-no-power:before { content: '\e8a0'; } /* '' */
.icon-replacement-line-grey:before { content: '\e8a1'; } /* '' */
.icon-time-limited-power:before { content: '\e8a2'; } /* '' */
.icon-placeholder-icon:before { content: '\e8a3'; } /* '' */
.icon-power:before { content: '\e8a4'; } /* '' */
.icon-shelter:before { content: '\e8a5'; } /* '' */
.icon-post:before { content: '\e8a6'; } /* '' */
.icon-placeholder-dot:before { content: '\e8a7'; } /* '' */
.icon-alert-filled:before { content: '\e8bf'; } /* '' */
.icon-history:before { content: '\e8f8'; } /* '' */
