@font-face {
  font-family: 'hsl-icons';
  src: url('../font/hsl-icons.eot?1418770');
  src: url('../font/hsl-icons.eot?1418770#iefix') format('embedded-opentype'),
       url('../font/hsl-icons.woff2?1418770') format('woff2'),
       url('../font/hsl-icons.woff?1418770') format('woff'),
       url('../font/hsl-icons.ttf?1418770') format('truetype'),
       url('../font/hsl-icons.svg?1418770#hsl-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hsl-icons';
    src: url('../font/hsl-icons.svg?1418770#hsl-icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "hsl-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-notification:before { content: '\e800'; } /* '' */
.icon-scooter:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-contactless:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-statistics:before { content: '\e805'; } /* '' */
.icon-_-placeholder:before { content: '\e806'; } /* '' */
.icon-hsl-alt:before { content: '\e807'; } /* '' */
.icon-hsl:before { content: '\e808'; } /* '' */
.icon-hsl-card-lost:before { content: '\e809'; } /* '' */
.icon-bubble:before { content: '\e80a'; } /* '' */
.icon-email:before { content: '\e80b'; } /* '' */
.icon-idea:before { content: '\e80c'; } /* '' */
.icon-cash:before { content: '\e80d'; } /* '' */
.icon-ticket-machine:before { content: '\e80e'; } /* '' */
.icon-report:before { content: '\e80f'; } /* '' */
.icon-show-on-map:before { content: '\e810'; } /* '' */
.icon-customer-service:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e812'; } /* '' */
.icon-opposite:before { content: '\e813'; } /* '' */
.icon-students:before { content: '\e814'; } /* '' */
.icon-pensioners:before { content: '\e815'; } /* '' */
.icon-people-with-reduced-mobility:before { content: '\e816'; } /* '' */
.icon-children:before { content: '\e817'; } /* '' */
.icon-helsinki-card:before { content: '\e818'; } /* '' */
.icon-hsl-card-time:before { content: '\e819'; } /* '' */
.icon-sales-and-service-points:before { content: '\e81a'; } /* '' */
.icon-time:before { content: '\e81b'; } /* '' */
.icon-cross:before { content: '\e81c'; } /* '' */
.icon-stop:before { content: '\e81d'; } /* '' */
.icon-day-ticket:before { content: '\e81e'; } /* '' */
.icon-ticket:before { content: '\e81f'; } /* '' */
.icon-close-large:before { content: '\e820'; } /* '' */
.icon-close-small:before { content: '\e821'; } /* '' */
.icon-web:before { content: '\e822'; } /* '' */
.icon-app:before { content: '\e823'; } /* '' */
.icon-route:before { content: '\e824'; } /* '' */
.icon-location:before { content: '\e825'; } /* '' */
.icon-person:before { content: '\e826'; } /* '' */
.icon-park-&-ride:before { content: '\e827'; } /* '' */
.icon-hsl-card-reader-w-card:before { content: '\e828'; } /* '' */
.icon-calendar:before { content: '\e829'; } /* '' */
.icon-city:before { content: '\e82a'; } /* '' */
.icon-check:before { content: '\e82b'; } /* '' */
.icon-check-circle:before { content: '\e82c'; } /* '' */
.icon-info:before { content: '\e82d'; } /* '' */
.icon-temporary-alt:before { content: '\e82e'; } /* '' */
.icon-hsl-card-angle-1:before { content: '\e82f'; } /* '' */
.icon-hsl-card-angle:before { content: '\e830'; } /* '' */
.icon-arrow-2:before { content: '\e831'; } /* '' */
.icon-arrow:before { content: '\e832'; } /* '' */
.icon-book:before { content: '\e833'; } /* '' */
.icon-alert:before { content: '\e834'; } /* '' */
.icon-search:before { content: '\e835'; } /* '' */
.icon-work:before { content: '\e836'; } /* '' */
.icon-bus:before { content: '\e837'; } /* '' */
.icon-draft:before { content: '\e838'; } /* '' */
.icon-ferry:before { content: '\e839'; } /* '' */
.icon-train:before { content: '\e83b'; } /* '' */
.icon-bus-alt:before { content: '\e83c'; } /* '' */
.icon-tram:before { content: '\e83d'; } /* '' */
.icon-pen:before { content: '\e83e'; } /* '' */
.icon-metro:before { content: '\e83f'; } /* '' */
.icon-via:before { content: '\e841'; } /* '' */
.icon-open-in-new:before { content: '\e843'; } /* '' */
.icon-map-1:before { content: '\e844'; } /* '' */
.icon-passenger-info:before { content: '\e846'; } /* '' */
.icon-restore:before { content: '\e847'; } /* '' */
.icon-trash:before { content: '\e848'; } /* '' */
.icon-temporary:before { content: '\e881'; } /* '' */
.icon-temporary-outline:before { content: '\e882'; } /* '' */
.icon-accessible:before { content: '\e88a'; } /* '' */
.icon-alert-filled:before { content: '\e8bf'; } /* '' */
