# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Seed data
/test-db-manager/src/dumps

# next.js
/.next/
/out/
/ui/.next/
/ui/out/

# production
/build
/ui/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dev environment
.vscode
.git
.gitignore

Dockerfile
