ui/.next
.vscode
ui/out

# generated graphql schema
ui/graphql.schema.json

ui/src/generated/*

# external docker dependencies
docker
!docker/docker-compose.custom.yml
!docker/2524600800000_seed-data

# test-db-manager
test-db-manager/dist
test-db-manager/ts-dist
test-db-manager/.rollup.cache
test-db-manager/src/generated/graphql.ts

# jore4-hasura submodule
jore4-hasura

