@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  outline: none;
}

input,
.input-element {
  height: 44px;
  padding: 12px 10px 12px 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  background-color: white;
}

label {
  font-weight: 700;
  size: 14px;
  margin-bottom: 4px;
}

:root {
  /**
    Magic values that can be seen with browsers devtools.
    Probably won't work in all corner cases.
  **/
  --navbar-height: 68px;
  --footer-height: 24px;
  --footer-margin-top: 24px;
}
