services:
  jore4-testdb-e2e:
    extends:
      file: docker-compose.base.yml
      service: jore4-testdb-base
    container_name: "testdb-e2e"
    ports:
      - "127.0.0.1:6532:5432"

  jore4-tiamat-e2e:
    extends:
      file: docker-compose.base.yml
      service: jore4-tiamat-base
    image: "crjore4prod001.azurecr.io/jore4-tiamat:main-2025-11-05-299ca575927e91a2b6036dcd5237ac4ba2e23648"
    container_name: "tiamat-e2e"
    environment:
      - TIAMAT_DB_URL=jdbc:postgresql://jore4-testdb-e2e:5432/stopdb?stringtype=unspecified
      - TIAMAT_HAZELCAST_CLUSTER=tiamatE2E
    ports:
      - "127.0.0.1:3110:1888"
    depends_on:
      jore4-testdb-e2e:
        condition: service_healthy

  jore4-timetablesapi-e2e:
    extends:
      file: docker-compose.base.yml
      service: jore4-timetablesapi-base
    image: 'hsldevcom/jore4-timetables-api:main--20240905-da293a99ddeff4776bc7c20d675832b0a407fe9f'
    container_name: "timetablesapi-e2e"
    environment:
      - SKIP_SET_VARIABLE_SECRET_OVERRIDE=true
      - JORE4_DB_PORT=5432
      - JORE4_DB_HOSTNAME=jore4-testdb-e2e
      - JORE4_DB_DATABASE=timetablesdb
    ports:
      - "127.0.0.1:3109:8080"
    depends_on:
      jore4-testdb-e2e:
        condition: service_healthy

  jore4-hasura-e2e:
    extends:
      file: docker-compose.base.yml
      service: jore4-hasura-base
    image: 'crjore4prod001.azurecr.io/jore4-hsl-hasura:main-2025-10-20-6331337c9d7eda232cb453b4aa508c9198e8d8a6'
    container_name: "hasura-e2e"
    ports:
      - "127.0.0.1:3211:8080"
    environment:
      - SKIP_SET_VARIABLE_SECRET_OVERRIDE=true
      - TIAMAT_HOSTNAME=jore4-tiamat-e2e
      - JORE4_DB_HOSTNAME=jore4-testdb-e2e
      - TIMETABLESAPI_HOSTNAME=jore4-timetablesapi-e2e
      - DB_HOSTNAME=jore4-testdb-e2e
    depends_on:
      jore4-testdb-e2e:
        condition: service_healthy
      jore4-tiamat-e2e:
        condition: service_healthy
