services:
  jore4-cypress:
    # allow switching the cypress docker image version (e.g. in CI)
    image: '${CYPRESS_DOCKER_IMAGE:-hsldevcom/jore4-cypress:latest}'
    container_name: cypress
    restart: unless-stopped
    environment:
      CYPRESS_BASE_URL: https://e2e.local.jore.hsldev.com:443
      CYPRESS_DISABLE_MAP_TILES: 'true'
      HASURA_API_URL: http://jore4-hasura:8080/v1/graphql
      POSTGRES_HOST: jore4-testdb
      POSTGRES_PORT: 5432
      POSTGRES_DB: jore4e2e
      POSTGRES_USER: dbadmin
      POSTGRES_PASSWORD: adminpassword
    networks:
      - docker_jore4
    # increase the default /dev/shm size from 64mb to support Chrome
    shm_size: '2gb'

# joining the jore4 network defined in the bundle compose file
networks:
  docker_jore4:
    external: true
