@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  outline: none;
}

input,
.input-element {
  height: 44px;
  padding: 12px 10px 12px 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  background-color: white;
}

label {
  font-weight: 700;
  size: 14px;
  margin-bottom: 4px;
}

/* Reset default styles from maplibre to make positioning map
 elements less annoying */
.maplibregl-ctrl {
  margin: 0 0 0 0;
}
/* Reset default maplibre font. Otherwise all fonts on map
overlays get messed up. */
.maplibregl-map {
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  font-size: initial;
  line-height: initial;
}
/* retaint default style of OpenStreetMap copyright text */
.mapboxgl-ctrl-attrib-inner {
  font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
}

/* .maplibregl-control-container, */
.maplibregl-ctrl-top-left {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: inherit;
  left: 0px;
  top: 0px;
}

/*  overlays */
.maplibregl-map {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
