@import 'tailwindcss';

@config '../../tailwind.config.js';

:root {
  --input-height: 44px;

  /* Always leave at least 10px of padding between
   * dropdown content and the screen edge. */
  --anchor-padding: 10px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:focus {
    outline-offset: 0.2em;
  }

  a:focus {
    outline-offset: 0.2em;
  }

  input,
  textarea {
    padding: 12px 10px 12px 10px;
    border: 1px solid #888888;
    border-radius: 5px;
    background-color: white;
  }

  input {
    height: var(--input-height);
  }
  textarea {
    min-height: var(--input-height);
  }

  input:disabled,
  textarea:disabled {
    background-color: #f2f5f7;
    color: #666666;
  }

  .input-disabled {
    background-color: #f2f5f7;
    color: #666666;
  }

  label,
  legend {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 4px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }
}

@layer utilities {
  /* tailwindcss doesn't support setting border style for one side only */
  .border-l-dashed {
    border-left-style: dashed;
  }
}

.maplibregl-ctrl-bottom-right {
  z-index: 1;
}

.maplibregl-ctrl-top-right {
  top: 70px;
}

.maplibregl-ctrl-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  height: calc(100vh - 82px);
  gap: 1rem;
  padding: 0.5rem;
}
