@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  outline-offset: 0.2em;
}

a:focus {
  outline-offset: 0.2em;
}

:root {
  --input-height: 44px;
}

input,
textarea {
  padding: 12px 10px 12px 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  background-color: white;
}

input {
  height: var(--input-height);
}
textarea {
  min-height: var(--input-height);
}

input:disabled,
textarea:disabled {
  background-color: #f2f5f7;
  color: #666666;
}

.input-disabled {
  background-color: #f2f5f7;
  color: #666666;
}

label,
legend {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 4px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

/* tailwindcss doesn't support setting border style for one side only */
.border-l-dashed {
  border-left-style: dashed;
}

.maplibregl-ctrl-bottom-right {
  z-index: 1;
}

.maplibregl-ctrl-top-right {
  top: 70px;
}

.maplibregl-ctrl-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  height: calc(100vh - 82px);
  gap: 1rem;
  padding: 0.5rem;
}
