name: CD

on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
  workflow_dispatch:

jobs:
  publish_ui_docker_image_to_acr:
    name: Publish UI Docker image to ACR
    permissions:
      id-token: write
      contents: read
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-build-and-publish-docker-image.yml@shared-build-and-publish-docker-image-v1
    with:
      docker_image_name: jore4-ui
      # Currently (2025-05) gyp tries to build something on arm64 and this would require at least Python to be
      # installed in the Docker container, i.e. building arm64 fails currently
      build_arm64_image: false
      build_args: |
        NEXT_PUBLIC_GIT_HASH=${{ github.sha }}
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  set_variables:
    name: Set Variables
    runs-on: ubuntu-24.04
    outputs:
      CHROME_FOR_TESTING_VERSION: ${{ steps.chrome_for_testing_version.outputs.CHROME_FOR_TESTING_VERSION }}
    steps:
      - name: Get latest stable Chrome version
        id: chrome_for_testing_version
        run: |
          echo "CHROME_FOR_TESTING_VERSION=$(
            curl \
              -s \
              https://googlechromelabs.github.io/chrome-for-testing/last-known-good-versions.json \
              | jq -r .channels.Stable.version
          )" >> $GITHUB_OUTPUT

  publish_cypress_docker_image_to_acr:
    name: Publish Cypress Docker image to ACR
    needs:
      - set_variables
    permissions:
      id-token: write
      contents: read
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-build-and-publish-docker-image.yml@shared-build-and-publish-docker-image-v1
    with:
      docker_image_name: jore4-cypress
      build_arm64_image: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'releases/') }}
      file: Dockerfile.cypress
      build_args: |
        CHROME_FOR_TESTING_VERSION=${{ needs.set_variables.outputs.chrome_for_testing_version }}
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  run_e2e_tests:
    name: Run E2E tests
    needs:
      - publish_ui_docker_image_to_acr
      - publish_cypress_docker_image_to_acr
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-run-e2e.yml@main
    with:
      ui_version: ${{ needs.publish_ui_docker_image_to_acr.outputs.docker_image }}
      cypress_version: ${{ needs.publish_cypress_docker_image_to_acr.outputs.docker_image }}
      update_e2e_test_durations: ${{ github.ref == 'refs/heads/main' }}
      test-tags: ''
    secrets:
      jore4_ci_data_repo_ssh_key: ${{ secrets.JORE4_CI_DATA_REPO_DEPLOY_KEY }}
