name: Check generated resources

on:
  pull_request:

permissions:
  contents: read

jobs:
  check_generated_graphql_schema:
    name: Check if the generated GraphQL schema is up to date
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10
        with:
          custom_docker_compose: ./docker/docker-compose.custom.yml

      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'yarn'

      - name: Install node_modules
        # making sure that we do have the proper set of node_modules installed regardless of what's cached
        run: yarn install --frozen-lockfile

      - name: Wait for Hasura to be available
        uses: HSLdevcom/jore4-tools/github-actions/healthcheck@healthcheck-v1
        with:
          command: 'curl --fail http://localhost:3201/healthz --output /dev/null --silent'
          # hasura takes time to start up as it depends on the database
          retries: 50

      - name: Regenerate schemas
        run: yarn ws:codegen generate

      - name: Verify that generate command made no changes, so schema is up to date
        run: '[ -z "$(git status --porcelain)" ]'
