name: Check seed data generators

on:
  pull_request:

permissions:
  contents: read

jobs:
  check_seed_data_generators:
    name: Check seed data generators
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10
        with:
          custom_docker_compose: ./docker/docker-compose.custom.yml

      - uses: actions/setup-node@v6
        with:
          node-version: '24.11.1'
          cache: 'yarn'

      - name: Install node_modules
        # making sure that we do have the proper set of node_modules installed regardless of what's cached
        run: yarn install --frozen-lockfile

      - name: Build test-db-manager
        run: yarn ws:db build

        # Verify that the seed data generators succeed without errors, no further testing for now
        # Only running timetables seed, because stop registry seed requires routes DB to be populated as well.
      - name: Insert seed data
        run: yarn ws:db seed:timetables
