name: CI

on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:

jobs:
  qa:
    name: Run QA related things
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'yarn'

      - name: Install dependencies && check that lockfile is up-to-date
        run: yarn --frozen-lockfile

      - name: Build test db manager module
        run: yarn ws:db build

      - name: Build timetables data inserter module
        run: yarn ws:tdi timetables-data-inserter:build

      - name: Check ts syntax
        run: yarn ts:check

      - name: Check that code matches prettier's settings
        run: yarn prettier:check

      - name: Check that code matches linter's config
        run: yarn lint

      - name: Check that generated style file is up-to-date
        run: cp ui/src/generated/theme.ts ui/src/generated/existing-theme-file.ts && rm ui/src/generated/theme.ts && yarn ws:ui generate-theme && cmp ui/src/generated/theme.ts ui/src/generated/existing-theme-file.ts

      - name: Run tests
        run: yarn test
