name: Run integration tests

on:
  pull_request:

permissions:
  contents: read

jobs:
  run_integration_tests:
    name: Run ui's integration tests against Docker Compose environment
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/setup-node@v6
        with:
          node-version: '24.13.1'
          cache: 'yarn'

      - name: Install dependencies && check that lockfile is up-to-date
        run: yarn --frozen-lockfile

      - name: start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10

      - name: Build test db manager module
        run: yarn ws:db build

      - name: Run integration tests
        env:
          HASURA_URL: 'https://e2e.local.jore.hsldev.com/api/graphql/v1/graphql'
        run: yarn test:integration
